
body {
    margin: 0px; 
    background-color: rgb(240, 240, 240); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
}

.center {
    display: flex; 
    justify-content: center;
    align-items: center;
}

optgroup { font-size: 15px; }

$main-color: rgb(144, 19, 247); 
$secondary-color: rgb(5, 255, 255); 
$text-color: rgb(20, 20, 20); 

.page-container {
    width: 100%; 
    height: auto; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;

    .left-side-container { 
        width: 100%; 
        height: auto; 
        background-color: rgb(240, 240, 240); 
        display: flex; 
        justify-content: center;
        align-items: center; 
        flex-direction: column; 

        .img-container {
            width: 90%; 
            height: auto; 
            @extend .center; 
            margin: 20px 0px; 

            img {
                width: 50%; 
                height: auto; 
            }
        }

        .left-side-box {
            width: 90%; 
            height: 65%; 
            border-radius: 20px; 
            //background-color: white; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-evenly;
            align-items: center; 

            .compare-button {
                width: 100%; 
                height: 50px;
                background-color: white; 
                border-radius: 30px; 
                @extend .center; 
                cursor: pointer;
            }

            .other-button {
                width: 100%; 
                height: 50px; 
                background-color: rgb(240, 240, 240); 
                border-radius: 30px;
                @extend .center; 
                cursor: pointer; 
            }
        }
    }

    .right-side-container {
        width: 95%; 
        height: auto; 
        background-color: rgb(240, 240, 240); 
        display: flex; 
        flex-direction: column;
        margin: 50px 0px; 

        .input-container {
            width: 100%; 
            height: auto; 
            @extend .center; 
            flex-direction: column; 
            justify-content: space-evenly;
            margin: 10px 0px; 
            padding: 10px 0px; 

            .left-select {
                width: 20px; 
                height: 20px; 
                border-radius: 100%; 
                background-color:rgb(144, 19, 247); 
            }

            .right-select {
                width: 20px; 
                height: 20px; 
                border-radius: 100%; 
                background-color: rgb(5, 255, 255); 
            }

            select {
                width: 120px; 
                height: 40px; 
                border-radius: 5px; 
                border: 2px rgba(0, 0, 0, 0) solid;
                color: $text-color; 
                outline: none; 
                border-radius: 5px; 
                transition: border 1000ms;
                font-weight: 500; 

                &:focus {
                    border: 2px solid rgb(144, 19, 247); 
                }
            }

            .main-button {
                width: 150px; 
                height: 40px; 
                border-radius: 20px; 
                border: 2px $main-color solid; 
                background-color:rgba(144, 19, 247, 0.1);
                color: $main-color; 
                font-weight: 600; 
                cursor: pointer; 
                outline: none;
                transition: background-color 800ms; 
                margin: 20px 0px; 

                &:hover {
                    background-color: rgba(144, 19, 247, 0.2); 
                }
            }
        }
        .graph-container {
            width: 100%; 
            margin-top: 10px 0px; 
            @extend .center; 
            flex-direction: column; 

            .line-graph-donut-container {
                width: 100%; 
                height: auto; 
                @extend .center; 
                flex-direction: column; 
                justify-content: space-evenly; 
                margin: 5px 0px; 

                .line-div {
                    width: 85%; 
                    height: auto; 
                    padding: 30px; 
                    background-color: white; 
                    border-radius: 30px; 
                    margin: 15px 0px; 
                    @extend .center; 
                }

                .donut-div {
                    width: 75%; 
                    height: auto; 
                    padding: 30px 0px; 
                    background-color: white; 
                    border-radius: 30px; 
                    margin: 30px 0px; 
                    @extend .center; 
                }
            }

            .bar-graph-pie-container {
                width: 100%; 
                height: auto; 
                @extend .center; 
                flex-direction: column; 
                justify-content: space-evenly; 
                margin: 5px 0px; 

                .bar-div {
                    width: 85%; 
                    height: auto; 
                    padding: 30px; 
                    background-color: white; 
                    border-radius: 30px; 
                    margin: 15px 0px; 
                    @extend .center; 
                }

                .pie-div {
                    width: 75%; 
                    height: auto; 
                    padding: 30px 0px; 
                    background-color: white; 
                    border-radius: 30px 0px; 
                    margin: 30px 0px; 
                    @extend .center; 
                }
            }
        }
    }
}

.input-stuff-container {
    width: 100%; 
    @extend .center; 
    flex-direction: row;
    justify-content: space-evenly; 
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
    .page-container .left-side-container .img-container img {
        width: 15%; 
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }
}

@media only screen and (min-width: 1601px) and (max-width: 2200px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }

    .page-container .left-side-container .left-side-box .compare-button {
        font-size: 1.5em; 
    }

    .page-container .left-side-container .left-side-box .other-button {
        font-size: 1.5em; 
    }

    .page-container .right-side-container .input-container select {
        width: 250px; 
        height: 45px; 
        font-size: 1.1em; 
    }

    .page-container .right-side-container .input-container .left-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .right-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .main-button {
        width: 225px; 
        height: 50px; 
        border-radius: 30px; 
        font-size: 1.25em; 
    }

    #red-error {
        font-size: 1.5em; 
    }
}

@media only screen and (min-width: 2201px) and (max-width: 2600px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }

    .page-container .left-side-container .left-side-box .compare-button {
        font-size: 1.95em; 
    }

    .page-container .left-side-container .left-side-box .other-button {
        font-size: 1.95em; 
    }

    .page-container .right-side-container .input-container select {
        width: 275px; 
        height: 50px; 
        font-size: 1.45em; 
    }

    .page-container .right-side-container .input-container .left-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .right-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .main-button {
        width: 325px; 
        height: 60px; 
        border-radius: 30px; 
        font-size: 1.5em; 
    }

    #red-error {
        font-size: 1.5em; 
    }
}

@media only screen and (min-width: 2601px) and (max-width: 3200px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }

    .page-container .left-side-container .left-side-box .compare-button {
        font-size: 2.5em; 
        height: 90px; 
        border-radius: 65px; 
    }

    .page-container .left-side-container .left-side-box .other-button {
        font-size: 2.5em; 
        height: 90px;
        border-radius: 65px; 
    }

    .page-container .right-side-container .input-container select {
        width: 350px; 
        height: 65px; 
        font-size: 1.95em; 
    }

    .page-container .right-side-container .input-container .left-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .right-select {
        width: 35px; 
        height: 35px; 
    }

    .page-container .right-side-container .input-container .main-button {
        width: 400px; 
        height: 80px; 
        border-radius: 75px; 
        font-size: 2em; 
        margin-top: 50px; 
    }

    #red-error {
        font-size: 1.5em; 
    }
}

@media only screen and (min-width: 3201px) and (max-width: 4000px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }

    .page-container .left-side-container .left-side-box .compare-button {
        font-size: 3em; 
        height: 100px; 
        border-radius: 65px; 
    }

    .page-container .left-side-container .left-side-box .other-button {
        font-size: 3em; 
        height: 100px;
        border-radius: 65px; 
    }

    .page-container .right-side-container .input-container select {
        width: 400px; 
        height: 75px; 
        font-size: 2.5em; 
    }

    .page-container .right-side-container .input-container .left-select {
        width: 50px; 
        height: 50px; 
    }

    .page-container .right-side-container .input-container .right-select {
        width: 50px; 
        height: 50px; 
    }

    .page-container .right-side-container .input-container .main-button {
        width: 500px; 
        height: 100px; 
        border-radius: 75px; 
        font-size: 2.5em; 
        margin-top: 50px; 
    }

    #red-error {
        font-size: 1.5em; 
    }
}

@media only screen and (min-width: 4001px) {
    .page-container .left-side-container {
        width: 20%; 
        height: 100%; 
        position: fixed; 
        margin: 0px; 
    }

    .page-container .right-side-container {
        width: 80%; 
        margin-left: 20%; 
    }

    .page-container {
        display: unset; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .line-div {
        width: 55%; 
    }

    .page-container .right-side-container .graph-container .line-graph-donut-container .donut-div {
        width: 30%; 
    }
    
    .page-container .right-side-container .graph-container .bar-graph-pie-container {
        flex-direction: row; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .pie-div {
        width: 30%; 
    }

    .page-container .right-side-container .graph-container .bar-graph-pie-container .bar-div {
        width: 55%; 
    }

    .page-container .left-side-container .left-side-box .compare-button {
        font-size: 3.5em; 
        height: 125px; 
        border-radius: 100px; 
    }

    .page-container .left-side-container .left-side-box .other-button {
        font-size: 3em; 
        height: 100px;
        border-radius: 65px; 
    }

    .page-container .right-side-container .input-container select {
        width: 600px; 
        height: 100px; 
        font-size: 2.75em; 
    }

    .page-container .right-side-container .input-container .left-select {
        width: 75px; 
        height: 75px; 
    }

    .page-container .right-side-container .input-container .right-select {
        width: 75px; 
        height: 75px; 
    }

    .page-container .right-side-container .input-container .main-button {
        width: 500px; 
        height: 100px; 
        border-radius: 75px; 
        font-size: 2.5em; 
        margin-top: 50px; 
    }

    #red-error {
        font-size: 1.5em; 
    }
}
